.mapHeader {
  margin-top: 2em;
}

.mapHeader > h2 {
  font-size: 3rem;
  margin-bottom: 0.5em;
}

.mapLegend {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin-bottom: 0.5em;
}

.iconSymbol{
  display: flex;
  align-items: center;
}

.map {
  width: 100%;
  position: relative;
  display: block;
}

.mapImg {
  position: relative;
  width: 100%;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content{
  position: relative;
}

.centered-y {
  position: absolute;
  width: 100%;
  top: 55%;
  transform: translateY(-50%);
  text-align: center;
}

.centered-y > h2{
  font-size: 1rem;
  font-weight: bold;
}

.centered-y > p{
  font-size: 0.9rem;
}

.distribution-map {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.distribution-map > img {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.map-point {
  cursor: pointer;
  /* outline: none; */
  z-index: 0;
  position: absolute;
  width: 15px; /* $map-dot-size */
  height: 15px; /* $map-dot-size */
  border-radius: 20px; /* $map-dot-size / 2 */
  opacity: 0.8;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
  background: rgba(26, 26, 26, 0.85);
  border: 3px solid black; 
}

.map-point.out-of-service {
  background-color: red;
}

.redIconImg, .greenIconImg {
  width: 20px;
  margin-right: 0.5em;
}

.map-point.in-service {
  background-color: #008000;
}

.map-point .content {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.map-point:active,
.map-point:focus {
  margin: 0;
  padding: 0 10px 0 10px;
  opacity: 1;
  width: 150px;
  height: 120px;
  color: rgb(229, 229, 229);
  z-index: 1;
  transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out;
}

.map-point:active .content,
.map-point:focus .content {
  opacity: 1;
  transition: opacity 0.25s ease-in-out 0.25s, height 0 ease-in-out 0.25s, overflow 0 ease-in-out 0.25s;
  overflow: hidden;
}

.map-point:active .content a:hover,
.map-point:active .content a:active,
.map-point:focus .content a:hover,
.map-point:focus .content a:active {
  color: rgb(197, 235, 255); /* lighten($color-highlight, 10%) */
}

.accordion-container {
  display: none;
  max-width: 80%;
  margin: 0 auto;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.accordion-header {
  padding: 1em;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}

.accordion-header:hover {
  background-color: #e1e1e1;
}

.accordion-content {
  padding: 1em;
  display: none;
  background-color: #fff;
  transition: max-height 0.3s ease;
  overflow: hidden;
}

.accordion-item.active .accordion-content {
  display: block;
}

.accordion-icon {
  font-size: 1.5em;
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
  .map {
    display: none;
  }

  .accordion-container {
    display: block;
  }
}